<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="../styles/formatPage.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header>
        <nav class="navbar flex-row conteiner">
            <picture class="logo">
                <img src="../img/logo.svg" alt="Logo de trees and garden flores" class="logo" >
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./nosotros.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./servicios.html" class="menu__link">Servicios</a>
                </li>
                <li class="menu__item">
                    <a href="./proyectos.html" class="menu__link">Proyectos</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="grid-contacto">
            <div class="contacto">
                Contacto
            </div>
            <div class="mensaje">
                Mensaje
            </div>
            <div class="mensajeParrafo">
                <p>
                    Para nosotros es de gran importancia cada uno de sus comentarios y mensajes, ponemos a su
                    disposición en esta página diferentes vías de comunicación, considere la más adecuada.
                    A la brevedad estaremos en contacto con usted.
                </p>
            </div>
            <div >
                
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d286458.2310014757!2d-99.31191277187729!3d19.37882543045878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0026db097507%3A0x54061076265ee841!2sCiudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1645865632924!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="cuestionario">
                <form class="formCliente">
                    <label>Nombre</label><input type="text" placeholder="Nombre">
                    <br>
                    <label>Email</label><input type="email" placeholder="Email">
                    <br>
                    <label>Asunto</label><input type="text" placeholder="Asunto">
                    <br>
                    <label>Mensaje</label><input type="text" placeholder="Mensaje...">
                    <br>
                    <input type="submit">
                    <input type="reset">
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <P>
            Teléfono: 52-55-24624046 | Correo electrónico: presupuestosFlores@gmail.com | Horario: Lun. a Vie. 10:00
            a.m. a 6:00 p.m.
        </P>
        <p>
            Todos los derechos reservados 2022 AS
        </p>
    </footer>
</body>

</html>