<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link href="../styles/formatPage.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar flex-row conteiner">
            <picture class="logo">
                <img src="../img/logo.svg" alt="Logo de trees and garden flores" class="logo" >
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="./nosotros.html" class="menu__link">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./servicios.html" class="menu__link">Servicios</a>
                </li>
                <li class="menu__item">
                    <a href="./proyectos.html" class="menu__link">Proyectos</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="titulo">
            Proyectos
        </h2>
        <section>
            <div>
                <p>
                    Casa del Lago
                </p>
                <img src="../img/Arq.jpg" class="lago">
                <img src="../img/Terraza.jpg" class="lago">
            </div>
            <div>
                <p>
                    Casa del Valle
                </p>
                <img src="../img/exteriores.jpeg" class="valle">
                <img src="../img/Jardin.png" class="valle">
            </div>
        </section>
    </main>
    <footer class="footer">
        <P>
            Teléfono: 52-55-24624046 | Correo electrónico: presupuestosFlores@gmail.com | Horario: Lun. a Vie. 10:00
            a.m. a 6:00 p.m.
        </P>
        <p>
            Todos los derechos reservados 2022 AS
        </p>
    </footer>
</body>
</html>